name: compile

on:
  push:

jobs:

#   compile-linux:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Check out repository
#         uses: actions/checkout@v4
#       - name: Compile
#         shell: bash
#         run: |
#           mkdir BUILD
#           cd BUILD
#           sudo apt-get install freeglut3-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev
#           cmake ..
#           make

#   compile-macos:
#     runs-on: macos-15
#     steps:
#       - name: Check out repository
#         uses: actions/checkout@v4
#       - name: Compile
#         shell: bash
#         run: |
#           mkdir BUILD
#           cd BUILD
#           cmake ..
#           make

  compile-ems:
    runs-on: ubuntu-latest
    steps:
      - uses: mymindstorm/setup-emsdk@v14
      - name: Verify
        run: emcc -v
      - name: Compile
        shell: bash
        run: |
          mkdir BUILD
          cd BUILD
          emcmake cmake ..
          emmake make
